.container {
  height: 500px;
  width: 500px;
  background-color: green;
  border: 3px solid red;
  display: flex;
}

.box {
  border: 2px solid orange;
  height: 150px;
  width: 150px;
  margin: 20px;
  background-color: aqua;

  /* transition: 1s; 
  transition-property: background-color;
  transition-delay: 5s;*/

  /* transition: all 1s ease 1s; */
  transition: transform 3s ease-out;
}

.box:hover {
  /* background-color: brown;
  transform: rotate(45deg); */
  transform: translateX(100px);
}
